<!--  —————————————————————————————————————————————————————————————————————
			Controller: Clinicians
			Action:     show
			
			Doc:		This version has a smooth scroller for the buff images
						based on www.smoothdivscroll.com widget 
			ToDo:		1. test static text layout vers scroller 

			——————————————————————————————————————————————————————————————————————
-->

<!-- header includes  ————————————————————————————————————————————————————  -->

<% content_for (:controller_specific_css_files) do %>
	<%= stylesheet_link_tag "leftNav.css" %>
	<%= stylesheet_link_tag "category.css" %>
	<link rel="Stylesheet" type="text/css" href="../stylesheets/smoothDivScroll.css" />

<% end %>

<% content_for (:controller_specific_js_files) do %>

	<!-- <%= javascript_include_tag "jquery.tools.min.js" %> -->
	<!-- replace with reference to jquery-ui on Google CDN -->
	<!-- <script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script> -->
	<script type="text/javascript" src="../javascripts/jquery.smoothdivscroll.js" ></script>
	<script type="text/javascript" src="../javascripts/jquery.leftNav.js"></script>
	
<% end %>

<% content_for (:controller_specific_jQuery_document_ready ) do %>

	<script type="text/javascript">
		$(document).ready(function(){
			/* $(".scrollable").scrollable(); // initialize jquery tools 'scrollable'; consider if have cross browser problems with smoothDivSchroll */
			$("div#makeMeScrollable").smoothDivScroll({
			});
		});	
	</script>
	
<% end %> 

<% content_for (:page_specific_style_declarations) do %> 
	<style type="text/css">
		#center_right_content h1 {color:#5FC9AB;}
	</style>
<% end %>	


<!-- leftNav ———————————————————————————————————————————————————————————————— -->
	
<% content_for (:leftNav) do %>
	<!-- 
		render :partial => 'shared/leftnav' include left nav from a partial template since it is the same in category and item templates
	-->
<% end %> 
   
   
<!-- #main   ———————————————————————————————————————————————————————————————— -->
   
<% content_for (:main) do %>  
   
	<!-- left  ——————————————————————————————————————————————————————— -->
	  
	<div id="left">
		<%= image_tag "clinicians/clinicians_photo_1.jpg" %>
 	</div>
         
  <!-- centerRight  ————————————————————————————————————————————————————— -->
     
  <div id="center_right" style="z-index:7;">
		
		<div id="center_right_content">
			<h1>For Clinicians</h1>
			
			<h2>What is Lorum ipsum?</h2>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		<h2>Where does it come from?</h2>
		<p>
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

			The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
		</p>
		

		</div> <!-- end div 'center_right_content' >
  </div><!-- end div 'center_right' -->
 


<% end %>