<!--  —————————————————————————————————————————————————————————————————————
			Controller: Clinicians
			Action:     show
			
			Doc:		This version has a smooth scroller for the buff images
						based on www.smoothdivscroll.com widget 
			ToDo:		1. test static text layout vers scroller 

			——————————————————————————————————————————————————————————————————————
-->

<!-- header includes  ————————————————————————————————————————————————————  -->

<% content_for (:controller_specific_css_files) do %>
	<%= stylesheet_link_tag "leftNav.css" %>
	<%= stylesheet_link_tag "category.css" %>
	<link rel="Stylesheet" type="text/css" href="../stylesheets/smoothDivScroll.css" />

<% end %>

<% content_for (:controller_specific_js_files) do %>

	<!-- <%= javascript_include_tag "jquery.tools.min.js" %> -->
	<!-- replace with reference to jquery-ui on Google CDN -->
	<!-- <script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script> -->
	<script type="text/javascript" src="../javascripts/jquery.smoothdivscroll.js" ></script>
	<script type="text/javascript" src="../javascripts/jquery.leftNav.js"></script>
	
<% end %>

<% content_for (:controller_specific_jQuery_document_ready ) do %>

	<script type="text/javascript">
		$(document).ready(function(){
			/* $(".scrollable").scrollable(); // initialize jquery tools 'scrollable'; consider if have cross browser problems with smoothDivSchroll */
			$("div#makeMeScrollable").smoothDivScroll({
			});
		});	
	</script>
	
<% end %> 

<% content_for (:page_specific_style_declarations) do %> 
<% end %>	


<!-- leftNav ———————————————————————————————————————————————————————————————— -->
	
<% content_for (:leftNav) do %>
		<%= render :partial => 'buffs/leftnav' %><!-- include left nav from a partial template since it is the same in category and item templates -->
	 	
<% end %> 
   
   
<!-- #main   ———————————————————————————————————————————————————————————————— -->
   
<% content_for (:main) do %>  
   
	<!-- left  ——————————————————————————————————————————————————————— -->
	  
	  <div id="left">
		<img src="../images/clinicians/biking.jpg">
  </div>
         
  <!-- centerRight  ————————————————————————————————————————————————————— -->
     
  <div id="center_right" style="z-index:7;">
		<div id="makeMeScrollable">
				<div class="scrollingHotSpotLeft"></div>
				<div class="scrollingHotSpotRight"></div>
				<div class="scrollWrapper">
					<div class="scrollableArea">
						
						<div class="scrollableImage">
							<div class="scrollableImageInnerBox">
								<img src="../images/items/buff_670xx/medium/67012_TB_CYC_Black2_M.png" alt="TB CYC Black2" width="225" height="460"/>
								<div class="productName">subCategory Name</div>
							</div>
						</div>
						
						<div class="scrollableImage">
							<div class="scrollableImageInnerBox">
								<img src="../images/items/buff_670xx/medium/67015_TB_CYC_Tornado_M.png" alt="TB CYC Tornado" width="225" height="460"  />
								<div class="productName">subCategory Name</div>
							</div>
						</div>
						
						<div class="scrollableImage">
							<div class="scrollableImageInnerBox">
								<img src="../images/items/buff_670xx/medium/67016_TB_CYC_MetalRed_M.png" alt="TB CYC Black2" width="225" height="460"/>
								<div class="productName">subCategory Name</div>
							</div>
						</div>
						
						<div class="scrollableImage">
							<div class="scrollableImageInnerBox">
								<img src="../images/items/buff_670xx/medium/67018_TB_CYC_Gradient_M.png" alt="TB CYC Tornado" width="225" height="460"  />
								<div class="productName">subCategory Name</div>
							</div>
						</div>
						
						<div class="scrollableImage">
							<div class="scrollableImageInnerBox">
								<img src="../images/items/buff_670xx/medium/67019_TB_CYC_CashBlack_M.png" alt="TB CYC Black2" width="225" height="460"/>
								<div class="productName">subCategory Name</div>
							</div>
						</div>
						
						<div class="scrollableImage">
							<div class="scrollableImageInnerBox">
								<img src="../images/items/buff_670xx/medium/67024_TB_CYC_Malla_M.png" alt="TB CYC Tornado" width="225" height="460"  />
								<div class="productName">subCategory Name</div>
							</div>
						</div>
						
					</div><!-- end div 'scrollableArea' -->
				</div><!-- end div 'scrollWrapper' -->
		</div><!-- end div 'makeMeScrollable' -->
  </div><!-- end div 'center_right' -->
 


<% end %>