@charset "UTF-8";
			/* CSS Document */
			/*  
                TO DO: [[ ... ]]
			*/

			 /* ———— reset css styles all browsers   ————— */
            html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
				margin:0;
				padding:0;
				border:0;
				font-weight:inherit;
				font-style:inherit;
				font-size:100%;
				font-family:inherit;
				vertical-align:top;
			}

			*:focus { outline:0;} /* to get rid of blue focus box (in Safari)  */
					
			/* ————— page layout: major divs —————————————————————————————————— */	
   			
            body { position:relative;
					min-height:662px; 
					background-color:gainsboro;
					background-image: url("../images/background/RM_b1_1872x1114.jpg");
					background-repeat: no-repeat;
					font-family: Arial, Helvetica, sans-serif; 
					font-size: 11px; /* TODO: remove redundant declarations from contained divs */
					color: #999999; /* TODO remove redundant declarations from contained divs */
            }
				#wrapper_outer { position:relative;
					width:1000px; /* 200px left nav plus 800px main 3-way panel */
					margin-left: auto; margin-right: auto;
					overflow:hidden; /* makes wrapper_inner grow to contain floated #left */ 
            	}
					#leftNav { position:absolute; /* within wrapper-outer; float this once it works */
						top:140px;
						left:0px; 
						min-height:522px;
						width:175px; /* Force it to be max width */
						padding:0px;
						z-index:12;
					}
				#wrapper_inner { position:relative; 
					width:797px; /* just main 3-way panel; 265*3=795 + 2 1px lines=797 */
					margin-left: 200px; /* leave room for left nav on inner pages */
					/* background-color:yellow;*/
					}
				
            #header { position:relative; 
					height:120px; /* too tight, makes header look jammed, but that's the way it was designed */
					background-color: white;
					background-image: url("../images/logoMark_412x100.png");
					background-repeat:none;
					z-index:7;

					}
				#main { position:relative;
					min-height:542px;
					width:797px;
					/* for testing:  background-color:pink; */
					z-index:5; /* so can see main image; otherwise div 'promo' hiding it.  Fix layout. */
					overflow:hidden; /* trick to get main to grow down if a div with float:left within it (ie the main image) extends below
						its default height of 452px — the height of the 3-photo widget on the home page */;
					}	
					#left { position: relative;
						min-height:542px;
						width:265px;
						background-color:white;
						float:left;
						z-index:6;
					}
					#center { position: relative;
						min-height:542px;
						width:264px;
						background-color:white;
						float:left;
						z-index:6;
					}
					#right { position: relative;
						min-height:542px;
						width:265px;
						background-color:white;
						float:left;
						z-index:6;
					}
					#left_center { position: relative;
						min-height:542px;
						width:530px;
						background-color:white;
						float:left;
						z-index:6;
					}
					#left_center_content {
						width:490px;
						height:502px;
						padding:20px;
					}
					#center_right { position: relative;
						min-height:542px;
						width:530px;
						background-color:white;
						float:left;
						z-index:6;
					}
					/*
					#promo { position:relative; 
						min-height:70px;
						background-color:white; 
						z-index:4;
					}
					*/
            #footer { position:relative; clear:both;
					background-image:url("../images/footer/main_overlay_5x290.png");
					background-repeat:repeat-x;
					z-index:9; 
					min-height:290px; /* height of background image; should be ~140px; */
					width:797px; /* 265 (panel width)*3=795 + 2 1px vertical lines=797 */
					}
	
			#bottomBand { 
				position:fixed; bottom:0px;left:0px;
				width:100%;
				min-height:82px;
				background-image:url("../images/background/fixed_footer_background.jpg");
				z-index:14;
				}

			/* ———— within leftNav  ——————————————————————————————————————— */	
			
			/*	insert goodies for formatting the jquery-ui accordion used for 2nd-3rd level navigation */
			/* or better, put it in jquery.leftNav.js	
	
			/* ———— within header  ———————————————————————————————————————— */
			
				#logoMark { position:absolute; /* relative to containing div #header */
					top:2px; /* image is 70px high with text offset to the top; header is 73px high */
					left:0px; 
					}
					 #headerButtons { position:absolute;
						top:10px;
						right:8px;
						}
					#headerButtons ul {list-style-type:none;}
					#headerButtons li { display:block; float:left; padding-left:5px; color:#E6E6E6;}
					#headerButtons li img { height:28px; width:28px;}
		
               #headerLinks { position:absolute;
                   top:35px;
                   right:0px;
                   font-size:11px;
					  text-transform:uppercase;
                   color:#E6E6E6;
                   }
               #headerLinks ul { list-style-type:none;}
               #headerLinks li { display:block; float:left; padding:14px 10px 10px 0px;}
				/* DEBUG: raise cart image relative to other items in list  */
               #headerLinks li a { text-decoration:none; color:#E6E6E6; }
               #headerLink li a:link { color:#E6E6E6;}
               #headerLink li a:visited {color:#E6E6E6;}
               #headerLink li a:hover {color:#dd4b00;} /* orange */
					#checkout_button {
						width:60px;
						padding:2px 3px 4px 3px;
						font-size:10px;
						line-height: 15px;
						margin-top:-4px!important;
						margin-left:2px;
						font-family: inherit;
						color: white;
						/* text-shadow: 0 1px 2px #FFFFFF; */
						background-color: orange; /* rust color D68533 */
						border:none;
						border-radius: 2px;
						-moz-border-radius: 2px;
						-webkit-border-radius: 2px;
					}
					#search_button { position:absolute;
						width:60px;
						padding:2px 0px 4px 3px;
						font-size:10px;
						line-height: 15px;
						margin-top:-2px;
						margin-left:2px;
						font-family: inherit;
						color: white;
						/* text-shadow: 0 1px 2px #FFFFFF; */
						background-color: orange; /* rust color D685333*/
						border:none;
						border-radius: 2px;
						-moz-border-radius: 2px;
						-webkit-border-radius: 2px;
					}
					#searchBox { display:inline; 
						width:120px;
						line-height:18px;
						border:solid thin gray;
						background-color:white;
						}
					#searchButton {display:inline; margin-left:5px;}

				
		
			/* ———— within 'main'  ———————————————————————————————————————— */
			
				div#main p { font-size:12px; line-height:18px; margin-bottom:10px; color:#707070; }
				
			/* ———— within 'main/left'  ————————————————————————————— */
            
            /* ———— within 'main/center'  ——————————————————————————— */
            
            /* ———— within 'main/right'  ———————————————————————————— */
				

            		
			/* ———— within 'promo'  —————————————————————————————————————————————————————————————————— */
			
				
			
			/* ————  within footer———————————————————————————————————————————*/	
					
				#footer #shadow { position:absolute; top:0px;left:0px;}
				#footer #worldmap { position:absolute; top:12px; left:40px;}
				#footer #news { position:absolute; 
					top:12px; left:265px;
					width:120px;
					}
				#footer #customerService { position:absolute; 
					top:12px; left:400px;
					width:140px;
					}

					
				#footer li:first-child { font-size: 12px; font-weight:bold; } 
            #footer ul { list-style-type:none;}
				#footer li {  padding:0px 0px 5px 0px; }	
				#footer li a {text-decoration:none; color:white;} 
				#footer li a:link { }
				#footer li a:visited {}
				#footer li a:hover { color: #dd4b00;} /* orange */
				#footer li a:active {color:#dd4b00;}	/* orange */
				
				#footer #trademark {position:absolute;
					top:160px;
					right:20px;
					color:#E6E6E6;
					text-transform:uppercase;
					}
  
            	
			/* ———— within popup windows invoked from header/footer  ——————— */
				/* not used; note these use the popUpWindow js, not jQuery-UI display
            div.popUpWindow div.content { padding:20px;  } 
				div.popUpWindow p { font-size:11px; color:#999999; line-height:18px; margin-bottom:10px; }
				div.popUpWindow h2 { font-size:18px; color: #FF3300; margin-bottom:20px; }
				div.popUpWindow ul { list-style-type:disc; list-style-position:outside; padding-left:28px; margin-bottom:10px; }
				div.popUpWindow li { font-size:11px; color:#999999; line-height:18px; padding:0px; margin-top:5px }
				*/
			
	
			
	
