<div id="wrap">

	<ul id="nav"> 
		
		<li class="p1 down">Modalities 
			<ul>
				<li class="p2 down">Clinical Electrotherapy
					<ul>
						<li>Accessories</li>
						<li>Combination</li>
						<li>Diathermy</li>
						<li>Electrodes</li>
						<li>Iontophoresis</li>
						<li>Lotions & Gels</li>
						<li>Stim</li>
						<li><%= link_to "Ultrasound", { :controller => 'products_llc_page', :action => 'ultrasound' } %></li>
					</ul>
				</li>
				<li class="p2 down">Continuous Passive Motion
					<ul>
						<li></li>
					</ul>
				</li>
				<li class="p2 down">Hot & Cold Therapy
					<ul>
						<li></li>
					</ul>
				</li>
				<li class="p2 down">Hydrotherapy & Aquatics
					<ul>
						<li></li>
					</ul>
				</li>
				<li class="p2 down">Personal Electrotherapy
					<ul>
						<li></li>
					</ul>	
				</li>
			</ul>
		</li>
		
		<li class="p1 down">Clinical Products & Supplies 
			<ul>
				<li>Balance & Stability</li>
				<li>Clinical Equipment</li>
				<li>Clinical Supplies</li>
				<li>Education</li>
				<li>Hand Therapy</li>
				<li>Massage Products</li>
				<li>Pillows & Cushions</li>
				<li>Resistive Exercise</li>
				<li>Therapeutic Exercise</li>
				<li>Topical Analgesics</li>
			</ul>
		</li>
		
		<li class="p1 down">Tables & Traction
			<ul>
				<li>Massage Tables</li>
				<li>Mat Tables</li>
				<li>Personal Traction Devices </li>
				<li>Positioning Products</li>
				<li>Traction</li>
				<li>Treatment Tables</li>
				<li>Work Tables</li>
			</ul>
		</li>
		
		<li class="p1 down">Fitness Equipment
			<ul>
				<li>All Body Exercisers</li>
				<li>Ellipticals</li>
				<li>Exercise Bikes</li>
				<li>Treadmills</li>
				<li>Weight Equipment</li>
			</ul>
		</li>
		
		<li class="p1 down">Orthodepic Products & Supplies
			<ul>
				<li>Ankle & Foot</li>
				<li>Back</li>
				<li>Collars & Slings</li>
				<li>Elbo</li>
				<li>Hand & Wrist</li>
				<li>Knee</li>
				<li>Shoulder & Arm</li>
				<li>Splinting</li>
			</ul>
		</li>
		
		<li class="p1 down">ATC & Taping
			<ul>
				<li>First Aid</li>
				<li>Taping & Wrapping</li>
			</ul>
		</li>
		
		<li class="p1 down">Evaluation Products
			<ul>
				<li>Miscellaneous</li>
				<li>Pulse Evaluation</li>
				<li>Range of Motion</li>
				<li>Sensory Evaluation</li>
				<li>Strength Evaluation</li>
				<li>Weight & Edema</li>
			</ul>
		</li>
		
		<li class="p1 down">Aids to Daily Living
			<ul>
				<li>Mobility</li>
				<li>Reachers & Daily Aids</li>
				<li>Seating & Bedding</li>
			</ul>
		</li>
		
		<li class="p1 down">Lymphedema & Wound Care
			<ul>
				<li>Compression</li>
				<li>Wound Management </li>
			</ul>
		</li>

	</ul>

</div><!-- end of div 'wrap' -->